{{ define "title" }}{{ t .Lang "title.login" }} - {{ t .Lang "app.name" }}{{ end }}
{{ define "content" }}
<section class="card narrow">
	<h1>{{ t .Lang "login.heading" }}</h1>
	<p class="muted">{{ t .Lang "login.subheading" }}</p>
	<form class="form" method="post" action="/login">
		<label>
			{{ t .Lang "label.username" }}
			<input type="text" name="username" autocomplete="username" required>
		</label>
		<label>
			{{ t .Lang "label.password" }}
			<input type="password" name="password" autocomplete="current-password" required>
		</label>
		<button class="btn" type="submit">{{ t .Lang "button.login" }}</button>
	</form>
	<p class="muted">{{ t .Lang "login.need_invite" }}</p>
</section>
{{ end }}
